
<!-- Environment <%= RAILS_ENV %> -->
<%= render :partial => "website_list" %>




<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
        <br />
          <span class="prev_page">&nbsp;</span>
          <%= link_to 'More >>>', newsites_path, :class => 'next_page' %>
  
     </div>
   </div>
</div>


