
<div class="post">
      <div class="post-bgtop">
              <div class="post-bgbtm">
                 <%= render :partial => "layouts/google_ad_horiz" %><br /><br />

                <p>
                ReviewSomeWebsites.com is intended to be a free directory of website traffic rankings, dns information, technical specifications, reviews and reverse ip lookup.
                </p>

                <p>

                To add your site to our directory, simply enter your website's address such as www.sitechunks.com in the search bar to the right. Do not enter http:// or https://. 
                </p>

              </div>
      </div>
</div>


