
<div class="post">
      <div class="post-bgtop">
              <div class="post-bgbtm">

                 <%= render :partial => "layouts/google_ad_horiz" %><br /><br />


                <p>
                  Thanks for visting ReviewSomeWebsites.com.  Should you need to contact us with questions or issues about the site
                  kindly, send us an email to: helpme -at- reviewsomewebsites dot com
                 </p>

              </div>
      </div>
</div>


